[Unit]
Description=Websocket testing server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=oregenal
ExecStart=/home/oregenal/socketserver/server

[Install]
WantedBy=multi-user.target
